<div class="container-fluid contact">
  <h2>Contact</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima commodi exercitationem enim inventore consequatur, nihil, voluptatibus totam soluta velit illo distinctio reprehenderit fuga laborum sint debitis, accusamus dolore nobis doloribus.</p>
  
  <form class="contact-form">
    <label for="email">Your E-mail</label>
    <input type="email" id="email" name="email" placeholder="Your email" required>

    <label for="message">Your message</label>
    <textarea id="message" name="message" rows="5" placeholder="Please enter your message here..." required></textarea>

    <button type="submit">Submit</button>
  </form>
</div>