<div class="container-fluid first-heading">
    <div class="text-content">
        <h2>
            <span class="blacktext">The First Heading</span>
            <span class="graytext"> Will Catch Your Eye</span>
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam commodi, cum voluptas cupiditate veritatis vitae possimus nobis provident deleniti officiis laudantium delectus repellat saepe excepturi sint eius placeat asperiores doloremque.</p>
    </div>
    <img src="/website/assets/img/1.jpg" alt="" class="walter">
</div>