<div class="container-fluid portfolio">
  <h2>Portfolio</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sit voluptas laborum ut velit hic odit aliquam laudantium? Minus ut hic cumque perferendis natus voluptatem et quisquam illum sint reprehenderit?</p>
  
  <div class="card-container">
    <div class="card">
      <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ab facere rem voluptas labore quasi qui esse eius! Magnam cum voluptatum animi ut quam totam repudiandae ea aliquid labore nisi.</p>
      </div>
    </div>

    <div class="card">
      <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ab facere rem voluptas labore quasi qui esse eius! Magnam cum voluptatum animi ut quam totam repudiandae ea aliquid labore nisi.</p>
      </div>
    </div>

    <div class="card">
      <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ab facere rem voluptas labore quasi qui esse eius! Magnam cum voluptatum animi ut quam totam repudiandae ea aliquid labore nisi.</p>
      </div>
    </div>
  </div>
</div>