<div class="container-fluid second-heading">
    <img src="/website/assets/img/2.jpg" alt="" class="service-img">
    <div class="text-content">
        <h2>
            <span class="blacktext">The Second Heading</span>
            <span class="graytext"> Is Pretty Cool Too.</span>
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam commodi, cum voluptas cupiditate veritatis vitae possimus nobis provident deleniti officiis laudantium delectus repellat saepe excepturi sint eius placeat asperiores doloremque.</p>
    </div>
</div>